/* -------------------- ESTILO PADRÃO PARA TODOS OS DIALOGS -------------------- */

#dialogReserva,
#roomDialog,
.deleteReserv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    max-width: 90%;
    background-color: #552323;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 40px 35px;
    box-shadow: 0px 2px 10px black;

    opacity: 0;
    transform: translate(-50%, -45%) scale(0.9);
}

/* Animação de abertura */
#dialogReserva[open],
#roomDialog[open],
.deleteReserv[open] {
    animation: dialogFadeIn .28s ease-out forwards;
}

/* Backdrop padrão */
#dialogReserva::backdrop,
#roomDialog::backdrop,
.deleteReserv::backdrop {
    background-color: #00000060;
    backdrop-filter: blur(3px);
    animation: backdropFade .28s ease-out forwards;
}

/* Header igual do editGuest */
.dialog-header {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 25px;
    font-weight: bold;
    color: #fff;
}

/* -------------------- FORMATAÇÃO PADRÃO DOS FORMS -------------------- */

#dialogReserva form,
#roomDialog form,
.deleteReserv form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 0.95em;
    margin-top: 15px;
    color: #ddd;
}

/* Inputs */
#dialogReserva input,
#dialogReserva select,
#roomDialog input,
#roomDialog select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #00000040;
    font-size: 1em;
    margin-top: 5px;
    background-color: #fff;
    color: #000;
}

/* -------------------- Botões -------------------- */

.dialog-actions {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
}

/* Confirmar */
.btn-confirmReserva,
.btn-confirm,
.confirmDeleteReserv {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.btn-confirmReserva:hover,
.btn-confirm:hover,
.confirmDeleteReserv:hover {
    background-color: #F5E6C4;
    transform: scale(1.03);
    transition: 0.2s;
}

/* Cancelar */
.btn-cancel,
.cancelProssesForDeleteReserv {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.btn-cancel:hover,
.cancelProssesForDeleteReserv:hover {
    background-color: #a72424;
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
}


/* -------------------- ANIMAÇÕES -------------------- */

@keyframes dialogFadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -45%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes backdropFade {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(3px);
    }
}
