.roomSection {
    margin-top: 50px;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

/* Cabeçalho da tabela */
.table-rooms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Tabela */
.tablerooms {
    width: 100%;
    border-collapse: separate; /* separa as células */
    border-spacing: 0 10px;
    color: #777; 

}
.tablerooms th {
    text-align: left;
    padding: 10px;
    border-bottom: 1.5px solid var(--border-color);
}

/* Linhas */
.tablerooms tr {
    background-color: white;
    border-bottom: 1px solid var(--border-color);
}
/* Células */
.tablerooms td {
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
}
