.roomSection{
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.table-rooms-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tablerooms{
    width: 100%;
    border-collapse: collapse;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}