/*-------------------- Toast Notification --------------------*/

.toastNotification {
    position: fixed;
    top: 30px;
    right: 0px;
    z-index: 9999 !important; /* acima de tudo */
    pointer-events: none; /* não bloqueia o diálogo */
}

.toast {
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 30px;
    border-radius: 8px;
    background-color: #3e2723;
    animation: show 0.3s ease 1 forwards;
    pointer-events: auto; /* permite clicar no X */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.toast i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.fa-solid.fa-circle-check {
    color: #20cc14;
}

.fa-solid.fa-circle-xmark {
    color: #ff0000;
}

.toast i.fa-solid.fa-x {
    cursor: pointer;
    color: #ffffffa4;
    transition: color 0.2s ease;
}

.toast i.fa-solid.fa-x:hover {
    color: #fff;
}

.toast span, .toast i:nth-child(3) {
    color: #ffffffa4;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 5px;
}

/* Animações */
@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(-10%);
    }
}

.toast::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd0be;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 10px #fcecd6;
    animation: timeOut 4s linear 1 forwards;
}

@keyframes timeOut {
    to {
        width: 0%;
    }
}
